# بسم الله الرحمن الرحيم

In [6]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt 
import seaborn as sns 
plt.style.use('default')
#-------------------------------------------------------------------------------------
from sklearn.utils import resample 
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_validate

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.pipeline import Pipeline 

import tensorflow_addons as tfa
import tensorflow as tf 
from tensorflow import keras 
from tensorflow.keras import layers 
from focal_loss import SparseCategoricalFocalLoss

#-------------------------------------------------------------------------------------

from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint
#-------------------------------------------------------------------------------------
from imblearn.over_sampling import SMOTE
from utils import *
%matplotlib inline

## Reading the Dataset, cleaning , preparing it for the training

In [7]:
df = pd.read_csv("dataset/body_level_classification_train.csv")

In [8]:
cleaning_data(df)

(1477, 17)

,Gender,Age,Height,Weight,H_Cal_Consump,Veg_Consump,Water_Consump,Alcohol_Consump,Smoking,Meal_Count,...,Body_Level,FBM__Always,FBM__Frequently,FBM__Sometimes,FBM__no,Automobile,Bike,Motorbike,Public_Transportation,Walking
0,0,22.547298,1.722461,51.881263,1,2.663421,1.041110,0,0,3.000000,...,0,0,1,0,0,0,0,0,1,0
1,1,19.799054,1.743702,54.927529,1,2.000000,2.847264,1,0,3.289260,...,0,0,0,1,0,0,0,0,1,0
2,0,17.823438,1.708406,50.000000,1,1.642241,1.099231,1,0,3.452590,...,0,0,0,1,0,0,0,0,1,0
3,0,19.007177,1.690727,49.895716,1,1.212908,1.029703,1,0,3.207071,...,0,0,0,1,0,0,0,0,1,0
4,1,19.729250,1.793315,58.195150,1,2.508835,2.076933,0,0,3.435905,...,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,1,26.774115,1.755938,112.287678,1,1.428289,2.117733,1,0,3.000000,...,3,0,0,1,0,1,0,0,0,0
1473,0,20.908785,1.700996,126.490236,1,3.000000,1.242832,1,0,3.000000,...,3,0,0,1,0,0,0,0,1,0
1474,0,26.000000,1.629191,104.826776,1,3.000000,2.654702,1,0,3.000000,...,3,0,0,1,0,0,0,0,1,0
1475,0,25.982261,1.629225,104.838425,1,3.000000,2.556068,1,0,3.000000,...,3,0,0,1,0,0,0,0,1,0
1476,1,23.000000,1.774644,105.966894,1,2.312825,2.073497,1,0,3.000000,...,3,0,0,1,0,0,0,0,1,0

In [43]:
import pandas as pd 

def cleaning_data1(df):
    copy_df = df.copy()
    # converting the categorical data to numeric data . 
    # in H_cal_consump we don't need one hot vector it just one or zero
    copy_df["H_Cal_Consump"].replace(["yes","no"],[1,0], inplace=True)
    copy_df["Gender"].replace(['Male',"Female"],[1,0], inplace=True)
    copy_df["Alcohol_Consump"].replace(["no","Sometimes","Frequently","Always"],[0,1,2,3],inplace=True)
    copy_df["Smoking"].replace(["yes","no"],[1,0], inplace=True)
    copy_df=pandas.concat([copy_df,pandas.get_dummies(copy_df['Food_Between_Meals'],prefix="FBM_")],axis=1)
    if "FBM__Always" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"FBM__Always":[0]*copy_df.shape[0]})])
    if "FBM__Frequently" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"FBM__Frequently":[0]*copy_df.shape[0]})])
        
    if "FBM__Sometimes" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"FBM__Sometimes":[0]*copy_df.shape[0]})])
    if "FBM__no" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"FBM__no":[0]*copy_df.shape[0]})])
        
    copy_df.drop(['Food_Between_Meals'],axis=1,inplace=True)
    copy_df['Fam_Hist'].replace(['yes','no'],[1,0],inplace=True)
    copy_df['H_Cal_Burn'].replace(['yes','no'],[1,0],inplace=True)
    copy_df = pandas.concat([copy_df,pandas.get_dummies(copy_df["Transport"])],axis=1)
    
    if "Automobile" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"Automobile":[0]*copy_df.shape[0]})])
    
    if "Bike" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"Bike":[0]*copy_df.shape[0]})])
    
    if "Motorbike" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"Motorbike":[0]*copy_df.shape[0]})])
        
    if "Public_Transportation" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"Public_Transportation":[0]*copy_df.shape[0]})])
        
    if "Walking" not in copy_df.columns:
        copy_df=pandas.concat([copy_df,pandas.DataFrame({"Walking":[0]*copy_df.shape[0]})])
        
        
    copy_df.drop(['Transport'],axis=1,inplace=True)
    copy_df["Body_Level"].replace(["Body Level 1","Body Level 2","Body Level 3","Body Level 4"],
                              [0,1,2,3],inplace=True)
    
    cols=['Gender', 'Age', 'Height', 'Weight', 'H_Cal_Consump', 'Veg_Consump',
       'Water_Consump', 'Alcohol_Consump', 'Smoking', 'Meal_Count', 'Fam_Hist',
       'H_Cal_Burn', 'Phys_Act', 'Time_E_Dev', 'Body_Level', 'FBM__Always',
       'FBM__Frequently', 'FBM__Sometimes', 'FBM__no', 'Automobile', 'Bike',
       'Motorbike', 'Public_Transportation', 'Walking']
    copy_df=copy_df[cols]
    return copy_df

In [44]:
# cleaning_data1( pd.DataFrame(df.iloc[0])
pd.set_option("display.max_columns",50)
cleaning_data1(df).columns

Index(['Gender', 'Age', 'Height', 'Weight', 'H_Cal_Consump', 'Veg_Consump',
       'Water_Consump', 'Alcohol_Consump', 'Smoking', 'Meal_Count', 'Fam_Hist',
       'H_Cal_Burn', 'Phys_Act', 'Time_E_Dev', 'Body_Level', 'FBM__Always',
       'FBM__Frequently', 'FBM__Sometimes', 'FBM__no', 'Automobile', 'Bike',
       'Motorbike', 'Public_Transportation', 'Walking'],
      dtype='object')

In [45]:
dic={"FBM__Sometimes":[0]*50}

In [46]:
df.columns=

SyntaxError: invalid syntax (3445778786.py, line 1)